@use '../assets/mixins';
@use '../assets/colors';
@use '../assets/fonts';
.main-p{
    width: 100%;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: colors.$color-background;
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: colors.$color-text;
    z-index: 9;
    overflow: hidden;
}

#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: colors.$color-background;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

#bottom{
    position: absolute;
    bottom: 4.7vh;
    width: 100%;
    height: 50vh;
    background-color: colors.$color-text;
    overflow: hidden;
}

#main h1{

    font-size: 22vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-h1{
    bottom: 50%;
}

#bottom-h1{
    top: 0% !important;
}

.content{
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: colors.$color-text;
    gap: 4vh;
}

.content h4{
    font-size: 1vw;

}

.content h3{
    width: 22%;
    font-size: 3vw;
    text-align: center;
    font-weight: 700;
}


.content h2{
    font-size: 20vw;
}

.img-competences{

    position: relative;
    margin: 10px 0;

    img{
        margin: 0 5px;
        height: 80px;
        max-width: 10vw;
        gap: 50px;
        filter: grayscale(100%);
    }
}


@media screen and (max-width: 900px) {

    
    #center{
       height: 1000px;
    }

    .img-competences{

        width: 300px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: visible;
    
        img{
            margin: 8px 10px;
            height: 80px;
            max-width: 10vw;
            min-width: 80px;
            gap: 50px;
        }
    }
}
@media screen and (max-width: 830px) {

    #bottom{
        color: colors.$color-text;
    }

    .content h4{
        font-size: 3vw;
    
    }
    
    .content h3{
        font-size: 6vw;
    }
}
